@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 450px;
	background: #D9D9D9 url("../images/u195-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(30%, #F4F1F1),to(#D9D9D9));
	background: -webkit-linear-gradient(top,#F4F1F1 30%,#D9D9D9 );
	background: -moz-linear-gradient(top,#F4F1F1 30%,#D9D9D9 );
	background: -ms-linear-gradient(top,#F4F1F1 30%,#D9D9D9 );
	background: -o-linear-gradient(top,#F4F1F1 30%,#D9D9D9 );
	background: linear-gradient(to bottom,#F4F1F1 30%,#D9D9D9 );
	border-style: none;
	border-color: #000000;
}

#u704
{
	z-index: 2;
	width: 379px;
}

#u213
{
	z-index: 3;
	width: 291px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: -1px;
	left: 52px;
}

#u333
{
	z-index: 21;
	width: 300px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 13px;
	position: relative;
}

#menuu668
{
	z-index: 5;
	width: 380px;
}

#u697
{
	width: 125px;
	min-height: 71px;
	margin-right: -10000px;
}

#u700
{
	width: 125px;
	padding-bottom: 51px;
}

#u700:hover
{
	margin: 0px;
}

#u700:active
{
	margin: 0px;
}

#u701
{
	height: 20px;
	width: 61px;
	margin-right: -10000px;
	top: 23px;
	left: 33px;
}

#u669
{
	width: 125px;
	min-height: 71px;
	margin-right: -10000px;
	left: 127px;
}

#u672
{
	width: 125px;
	padding-bottom: 51px;
}

#u700.MuseMenuActive,#u672:hover
{
	margin: 0px;
}

#u672:active
{
	margin: 0px;
}

#u675
{
	height: 20px;
	width: 62px;
	margin-right: -10000px;
	top: 23px;
	left: 32px;
}

#u676
{
	width: 126px;
	min-height: 71px;
	margin-right: -10000px;
	left: 254px;
}

#u677
{
	width: 126px;
	padding-bottom: 51px;
}

#u672.MuseMenuActive,#u677:hover
{
	margin: 0px;
}

#u677:active
{
	margin: 0px;
}

#u677.MuseMenuActive
{
	margin: 0px;
}

#u679
{
	height: 20px;
	width: 86px;
	margin-right: -10000px;
	top: 23px;
	left: 21px;
}

#page .verticalspacer
{
	clear: both;
}

