<gap:plugin name="nl.x-services.plugins.backgroundaudio" version="1.0.0" />
<gap:plugin name="com.phonegap.plugin.mobile-accessibility" version="0.1.1" />
<gap:plugin name="org.apache.cordova.media" version="0.2.13" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.battery-status" version="0.2.11" />
<gap:plugin name="nl.x-services.plugins.insomnia" version="4.0.1" />
